# Configuration for Remarkable Calendar Creator and its dependencies pcal and GhostScript

###################################
# Options for the systemd service #
###################################
#
# Splash screen to write the calendar to
# If you change this filename, don't forget to make a backup of this file first!
SPLASH_SCREEN=/usr/share/remarkable/suspended.png
#
# Uncomment and set this URL to a publicly accessible but secret URL of the ICS file for your calendar
# to add your events to the generated calendar.
#ICS_URL=

##############################################
# Options for the generation of the calendar #
##############################################
#
# See pcal's man page for the available options.
# Some interesting options:
#   -F Monday   -> Monday is the first day of the week.
#   -f calendar -> Use the filename 'calendar' for the input file.
#   -n/10       -> Set the font size of event text to 10.
#   -S          -> Don't print the small calendars of the previous and next month.
#   -p          -> Use portrait mode.
#   -m          -> Print moon phases on dates corresponding to new, half, and full moons.
#   -w          -> Print a calendar of the full year on one page.
#   -E          -> Use European date conventions (dd/mm{/yy} and dd month).
PCAL_OPTS="-F Monday -f calendar -n/10 -S"
PCAL_DIR=/opt/etc/remarkable-calendar-creator

#################################################
# Options for the generation of the pcal events #
#################################################
#
# Add the option -E to use European data conventions (dd/mm{/yy} and dd month).
ICAL2PCAL_OPTS=""

#################################
# Basic options for GhostScript #
#################################
#
GS_OPTIONS="-q -dSAFER -dNOPAUSE -r226"
